/*style.css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #f7f7f7;
}

.chatBot {
  border: 3px solid #2F8D46;
  border-radius: 10px;
  margin: 50px auto;
  width: 500px;
  height: 600px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

header {
  background-color: #2F8D46;
  text-align: center;
  padding: 10px 0;
  border-radius: 7px 7px 0 0;
  position: relative;
}

header h2 {
  color: #fff;
  margin: 0;
}

#cross {
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

#cross:hover {
  color: red;
  transition: all .3s;
}

.chatbox {
  flex: 1;
  padding: 15px;
  list-style: none;
  overflow-y: auto;
}

.chatbox li {
  margin-bottom: 10px;
}

.chat p {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-outgoing p {
  background-color: #162887;
  align-self: flex-end;
  color: #fff;
}

.chat-incoming p {
  background-color: #eaeaea;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  gap: 10px;
}

.chat-input textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  resize: none;
  outline: none;
  font-size: 16px;
  color: green;
  font-weight: 600;
  background-color: #dcdcdc85;
  height: 60px;
}

#sendBTN {
  padding: 10px 15px;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  background-color: #2F8D46;
  cursor: pointer;
  color: white;
}

.chatbox .chat p.error {
  color: #ffffff;
  background-color: #ff3737e8;
}

.lastMessage {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: darkgreen;
  text-align: center;
}
